{% if ilmo_container_labels_traefik_enabled %}
{% if ilmo_container_labels_traefik_docker_network %}
traefik.docker.network={{ ilmo_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if ilmo_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in ilmo_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ ilmo_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [ilmo_identifier + '-add-request-headers'] %}
{% endif %}

{% if ilmo_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in ilmo_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ ilmo_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [ilmo_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ ilmo_identifier }}.rule=Host("{{ ilmo_hostname }}")
{% if ilmo_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ ilmo_identifier }}.priority={{ ilmo_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ ilmo_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ ilmo_identifier }}.service={{ ilmo_identifier }}
traefik.http.routers.{{ ilmo_identifier }}.entrypoints={{ ilmo_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ ilmo_identifier }}.tls={{ ilmo_container_labels_traefik_tls | to_json }}
{% if ilmo_container_labels_traefik_tls %}
traefik.http.routers.{{ ilmo_identifier }}.tls.certResolver={{ ilmo_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ ilmo_identifier }}.loadbalancer.server.port={{ ilmo_container_http_port }}

{{ ilmo_container_labels_additional_labels }}
